@model mysqltest.Models.multimedia
@Html.Partial("_Crudslayout")
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar Asignación de Pregunta</title>
    <link href="~/css/navStyle/navStyle.css" rel="stylesheet" />
</head>
<body style="background-color: #ffffff;">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.idMultimedia)

        <div class="form-actions no-color">

            <div class="container-fluid" style="margin-top: 3%;">


                <div class="jumbotron jumbotron-fluid" style="background-color: #667b68;">
                    <div class="container">

                        <div class="form-horizontal">
                            <h2 style="color: #EAE5E0;">Editar Estado de Recurso Multimedia</h2>
                        </div>


                        <hr />

                        <table class="table table-striped table-bordered" style="background-color: #EAE5E0;">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th>Decripción</th>
                                    <th>Tema</th>
                                    <th>URL</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>

                            <tr class="text-center">
                                <td>
                                    @Model.Description
                                </td>
                                <td>
                                    @Model.Tema
                                </td>
                                <td>
                                    @Model.URL
                                </td>
                                <td>
                                    @Model.Estado
                                </td>
                            </tr>

                        </table>

                        <div class="form-group">
                            <h5 class="control-label col-md-2">Estado</h5>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Estado, new SelectList(ViewBag.status2), new { @class = "form-control text-dark" })
                                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("CheckMedia","Admin")">Regresar</a>
                            <input type="submit" value="Editar" class="btn btn-danger" />
                        </div>


                    </div>

                </div>
            </div>

        </div>
    }
</body>
</html>
