@model mysqltest.Models.module_vt

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar Asignación de Prueba</title>
    <link href="~/css/navStyle/navStyle.css" rel="stylesheet" />
</head>
<body style="background-color: #ffffff;">

    <!-- header -->
    <header class="header d-flex flex-row">

        <div class="header_content d-flex flex-row align-items-center">
            <!-- Logo -->
            <div class="logo_container">
                <div class="logoA">
                    <img src="~/images/logo.png" width="140px" />
                </div>
            </div>
            <nav class="main_nav_container">
                <div class="main_nav">
                    <ul class="main_nav_list">
                        <li class="main_nav_item"><a href="@Url.Action("Index","Module")">Modulo</a></li>

                    </ul>
                </div>
            </nav>
        </div>

    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.module_VT_id)

        <div class="form-actions no-color">

            <div class="container-fluid" style="margin-top: 3%;">


                <div class="jumbotron" style="background-color: #667b68;">
                    <div class="container">

                        <div class="form-horizontal">
                            <h2 style="color: #EAE5E0;">Eliminar asignacion prueba-modulo</h2>
                        </div>
                        <hr />

                        <table class="table table-striped table-bordered" style="background-color: #EAE5E0; width: 100%;  margin-top:4%">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th>Módulo</th>
                                    <th>Prueba</th>
                                    <th>Hora de Inicio</th>
                                    <th>Hora de Finalización</th>
                                    <th>Nota Mínima</th>
                                </tr>
                            </thead>
                            <tr class="text-center">
                                <td>
                                    @ViewBag.module
                                </td>
                                <td>
                                    @ViewBag.vt
                                </td>
                                <td>
                                    @Model.star_time
                                </td>
                                <td>
                                    @Model.end_time
                                </td>
                                <td>
                                    @Model.min_grade
                                </td>
                            </tr>

                        </table>
                        <div class="form-group">
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("TestsAssigned","Admin")">Regresar</a>a>
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                        </div>

                    </div>

                </div>
            </div>

        </div>
    }
</body>
</html>
