@model mysqltest.Models.questions
@Html.Partial("_Crudslayout")
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
    <link href="~/css/navStyle/navStyle.css" rel="stylesheet" />
</head>
<body style="background-color: #ffffff;">

   
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container-fluid" style="margin-top: 3%;">


            <div class="jumbotron jumbotron-fluid" style="background-color: #667b68;">
                <div class="container">

                    <div class="form-horizontal">
                        <h2 style="color: #EAE5E0;">Crear Nueva Pregunta</h2>
                        <p style="color: #EAD1C5;">@ViewBag.Error</p>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Pregunta</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.question, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.question, "", new { @style = "color: #EAD1C5" })
                            </div>
                            <h3 class="control-label col-md-auto">Respuesta 1</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.answer1, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.answer1, "", new { @style = "color: #EAD1C5" })
                            </div>
                            <h3 class="control-label col-md-auto">Respuesta 2</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.answer2, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.answer2, "", new { @style = "color: #EAD1C5" })
                            </div>
                            <h3 class="control-label col-md-auto">Respuesta 3</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.answer3, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.answer3, "", new { @style = "color: #EAD1C5" })
                            </div>
                            <h3 class="control-label col-md-auto">Respuesta 4</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.answer4, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.answer4, "", new { @style = "color: #EAD1C5" })
                            </div>
                            <h3 class="control-label col-md-auto">Respuesta Correcta</h3>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.correct_answer, new SelectList(ViewBag.ans), new { @class = "form-control text-dark" })
                                @Html.ValidationMessageFor(model => model.correct_answer, "", new { @style = "color: #EAD1C5" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style="margin-top:7%">
                                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","Questions")">Regresar </a>
                                <input type="submit" value="Crear" class="main_nav_item btn btn-outline-dark" />

                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

    }

</body>
</html>
