@model mysqltest.Models.users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" type="text/css">
    <link href="~/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="~/css/style2.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->


    <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" type="text/css"> <!-- header css -->

    <title>ValidationCode</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    <!-- header -->
    <header class="header d-flex flex-row">

        <div class="header_content d-flex flex-row align-items-center">
            <!-- Logo -->
            <div class="logo_container">
                <div class="logoA">
                    <img src="~/images/logo.png" width="140px" />
                </div>
            </div>

            <!-- Main Navigation -->

            <nav class="main_nav_container">
                <div class="main_nav">
                    <ul class="main_nav_list">
                        <li class="main_nav_item"><a href="~/Home/index">Inicio</a></li>

                    </ul>
                </div>
            </nav>

        </div>

        <div class="header_side d-flex flex-row justify-content-center ">
            <div>
                @if (Request.IsAuthenticated)
                {
                    <form class="form-inline">

                        <a href="@Url.Action("Salir", "Account")" class="main_nav_item btn btn-outline-danger">Salir</a>
                    </form>
                }

                else
                {
                    <form class="form-inline">
                        <div>
                            <a class="main_nav_item btn btn-outline-light" href="~/Account/Login">Iniciar Sesion</a>
                        </div>
                        &nbsp;&nbsp;

                    </form>
                }
            </div>
        </div>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap py-5">
                    <h3 class="text-center mb-0 py-3">Ingrese su correo electrónico registrado en el sistema</h3>
                    <form action="#" class="login-form">

                        <div class="col-lg-auto col-md-8 px-lg-3 px-0">
                            <div class=" ml-lg-5">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo Electrónico" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-6 text-center">
                                        <input type="submit" value="Enviar Código " class="btn form-control btn-primary rounded submit px-3" />
                                    </div>
                                </div>

                                <h3 style="color:#EAD1C5" ;>@ViewBag.Respuesta</h3>

                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>

    }

</body>
</html>
