@model mysqltest.Models.role_user
@Html.Partial("_Crudslayout")
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar</title>
    <link href="~/css/navStyle/navStyle.css" rel="stylesheet" />

</head>

<body style="background-color: #ffffff;">



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.user_id)
        @Html.HiddenFor(model => model.role_id)

        <div class="form-actions no-color">

            <div class="container-fluid" style="margin-top: 3%;">

                <div class="jumbotron jumbotron-fluid" style="background-color: #667b68; width:48%">
                    <div class="container">

                        <div class="form-horizontal">
                            <h2 style="color: #EAE5E0;">Eliminar Usuario</h2>
                        </div>
                        <hr />
                        <table class="table table-striped table-bordered " style="background-color: #EAE5E0; width: 92%; margin: 2%; margin-top:4%">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th>Identificación</th>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Número Telefónico</th>
                                    <th>Correo Electrónico</th>
                                    <th>Rol</th>
                                </tr>
                            </thead>

                            <tr class="text-center">
                                <td>
                                    @Html.DisplayFor(model => model.users.dni, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.users.first_name, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.users.last_name, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.users.phone_number, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.users.phone_number, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.users.email, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.roles.name, new { @class = "form-control" })
                                </td>
                            </tr>

                        </table>

                        <div class="form-group" style="margin-top:7%">
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","Courses")">Regresar</a>
                            <input style=" margin-left: 70%" type="submit" value="Eliminar" class="btn btn-outline-danger" />
                        </div>


                    </div>

                </div>
            </div>

        </div>
    }

</body>
</html>
