@model mysqltest.Models.users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Habilitar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" type="text/css">
</head>

<body style="background-color: #ffffff;">

    <!-- header -->
    <header class="header d-flex flex-row">

        <div class="header_content d-flex flex-row align-items-center">
            <!-- Logo -->
            <div class="logo_container">
                <div class="logoA">
                    <img src="~/images/logo.png" width="140px" />
                </div>
            </div>
        </div>

    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.user_id)<div class="form-actions no-color">

            <div class="container-fluid" style="margin-top: 3%;">
               
                <div class="jumbotron jumbotron-fluid" style= "background-color: #667b68; width:48%" >
                    <div class="container">

                        <div class="form-horizontal">
                            <h2 style="color: #EAE5E0;">Habilitir Usuario</h2>
                            </div>
                            <hr />
                            <table class="table table-striped table-bordered " style="background-color: #EAE5E0; width: 80%; margin-left: 2%; margin-top:4%" >
                                <thead  class="thead-light">
                                    <tr class="text-center">
                                        <th>Identificación</th>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>Correo</th>
                                        <th>Teléfono</th>
                                    </tr>
                                </thead>
                                
                                <tr class="text-center">
                                    <td>
                                        @Html.DisplayFor(model => model.dni, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.first_name, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.last_name, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.email, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.phone_number, new { @class = "form-control" })
                                    </td>

                                </tr>

                            </table>

                            <div class="form-group" style="margin-top:7%">
                                @if (ViewBag.role == 1)
                                {
                                    <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("IndexAdmin","User")">Regresar</a>
                                }
                                else if (ViewBag.role == 2)
                                {
                                    <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("IndexProf","User")">Regresar</a>
                                }
                                else
                                {
                                    <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("IndexStudent","User")">Regresar</a>
                                }

                                <input style=" margin-left: 50%" type="submit" value="Habilitar" class="btn btn-outline-danger" />
                            </div>

                        </div>

                    </div>
            </div>

        </div>
    }

</body>
</html>
