@model mysqltest.Models.users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/style2.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="~/css/css_slider.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" type="text/css">
    <title>Actualizar Contraseña</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row justify-content-center" style="margin-top:10%;">
            <div class="col-md-6 col-lg-5">
                
                <div class="login-wrap py-5">
                    
                    <h2 class="text-center mb-0">Cambio de Contraseña</h2>
                    <p class="text-center mb-0" style="color: #EAD1C5;">@ViewBag.Error</p>
                    <form action="#" class="login-form">

                        <hr />

                        <div class="col-lg-auto col-md-8 px-lg-3 px-0">
                            <div class=" ml-lg-12">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                                <div class="col-md-12">
                                    <h3 class="text-center mb-0">Contraseña Actual</h3>
                                    @Html.PasswordFor(model => model.first_name, new { @class = "form-control text-dark text-center" })

                                </div>

                                <br />
                                <div class="col-md-12">
                                    <h3 class="text-center mb-0">Nueva Contraseña</h3>
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control text-dark text-center", placeholder = "Nueva Contraseña" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <h3 class="text-center mb-0">Confirmación de Contraseña</h3>
                                    @Html.PasswordFor(model => model.last_name, new { @class = "form-control text-dark text-center" })

                                </div>
                                <br />

                        

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10 text-center">
                                        @if (ViewBag.role == 1)
                                        {
                                            <a style="background: #667b68" class="btn btn-info btn-lg btn-block " href="@Url.Action("IndexAdmin","UserProfile")">Regresar</a>
                                        }
                                        else
                                        {
                                            <a style="background: #667b68" class="btn btn-info btn-lg btn-block " href="@Url.Action("Index","UserProfile")">Regresar</a>
                                        }

                                        <input type="submit" value="Guardar Nueva Contraseña" class="btn form-control btn-primary rounded submit px-3" />
                                    </div>
                                </div>



                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    }
</body>
</html>
